body {
        margin: 0;
        padding: 0;
        background-color: #FFF7FD;
    }
    
.container {
        position: absolute;
        /* margin: 5px; */
        width: auto;
        /*change along with grid in nav links to make bar horizontal*/
        top: 150px;
        left: 0;
}

.logo img{
        position: absolute;
        width: 150px;
        margin: 10px;
        left: 0;
}
    
.nav_links {
        display: grid;
        list-style: none;
        padding: 0;
}

.nav_links li {
        margin-left: 20px;
}

.img_link img {
        width: 150px;
        object-fit: cover;
        object-position: -100%, 0;
}
    
