html {
        overflow-x: hidden;
        
}

*{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;

}

body {
        font-family: 'Lato', sans-serif;
        font-family: 'Prompt', sans-serif;
        background-color: #FFFFFF;

} 

.nav-bar nav {
        background: #FFFFFF;
        height: 80px;
        width: 100%;
}

label.logo {
        color: #8C4646;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
}


.nav-bar nav ul {
        float: right;
        margin-right: 20px;
}


.nav-bar nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
}


.nav-bar nav ul li a { 
        color: #8C4646; //background color
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
}


a:hover {
        background: #E3806A;
        transition: .5s;
}


.checkbtn {
        font-size: 30px;
        color: #E3806A;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
}

 #check {
        display: none;
}


@media (max-width: 952px){
        label.logo {
                font-size: 30px;
                padding-left: 50px;
        }
        .nav-bar nav ul li a {
                font-size: 16px;

        }
}

@media (max-width: 858px){
        .checkbtn {
                display: block;
        }
        .nav-bar ul {
                position: fixed;
                width: 100%;
                height: 100vh;
                background: #FFF8F4;
                top: 80px;
                left: 0;
                text-align: center;
        }
        .nav-bar nav ul li {
                display: block;

        }
        .nav-bar nav ul li a {
                font-size: 20px;

        }
        a:hover, a.active {
                background: none;
                color: #E3806A;
        }
        #check:checked ~ ul{
                left: 0;
        }
}

section {
        background: #FFFFFF;
        background-size: cover;

        
}

.container {
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
        
}

.container .title {
        font-size: 3.5rem;
        color: #588C7E;
        margin-bottom: 2rem;
        text-transform: uppercase;
        text-align: right;
}


.container .prints-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

}

.container .prints-container .prints {
        display: flex;
        flex-direction: column;
        width: 32%;
}

.container .prints-container .prints img {
        width: 100%;
        padding-bottom: 5px;
}

.profile {
        display: flex;
        justify-content: flex-start;
        margin: 20px;
}

.profile img {
        width: 30%;
        height: 30%;
        margin-left: 20px;
}

.text-container h2 {
        width: 25px;
        color: #8C4646;
        font-size: 50pt;
}

.text-container {
        flex: 1;
}

.text-container p {
        text-align: left;
        padding: 1rem;
        color: #8C4646;
        flex: 1;
        font-size: 24pt;

}
.contact {
        display: flex;
        flex-direction: column;
        justify-content: right;
        text-align: right;
        margin-right: 40px;
}

.contact h3 {
        margin-top: 0px;
        color: #E3806A;
        flex: 0;
        font-size: 30pt;
}

.contact ul {
        list-style: none;
        padding: 0;
}

.contact li {
        margin-bottom: 5px;
}

.contact a {
        color: #8C4646;
        text-decoration: none;
        font-size: 24pt;
        display: block;
        border-radius: 3px;
}

.container .title2 {
        color: #588C7E;
        text-align: right;
        font-size: 25pt;
        margin-bottom: 20px;
}







    
