body {
        margin: 0;
        padding: 0;
    }
    
.container {
        position: absolute;
        /* margin: 5px; */
        width: auto;
        right: 0;
}

.logo img{
        position: absolute;
        width: 150px;
        margin: 10px;
        left: 0;
}
    
.nav_links {
        display: flex;
        list-style: none;
        padding: 0;
}

.nav_links li {
        margin-right: 20px;
}

.img_link img {
        width: 150px;
        object-fit: cover;
        object-position: -100%, 0;
}
    
